/*header section start*/

body{
    width: 1600px;

    
    padding: 0;
    margin: 0;
    
    
}
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    width: 1321px;
    height: 646px;
    border-radius: 35px;
    margin: 50px 140px ;
    background-color: #161616;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 130px;
    
}
.header-info{
    
    margin-top: 80px;
    margin-left: 106px;
}
.header-info h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.header-info p{
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    padding: 16px;
    font-size: 20px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
   font-weight: bold;
}
.picture img{
    width: 581px;
height: 613px;
margin-top: 33px;
}
/*end of header section*/

/*menu*/

menu{
    display: flex;
    width: 1311px;
    justify-content: space-around;
    margin-left: 110px;
    margin-bottom: 130px;
    

    
    
}
.menu-1{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: grid;
    align-items: center;
    

}
.menu-btn {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 17px 39px;
    background-color: white;
    margin: 30px 30px 0px 30px; 
    border-radius: 10px;
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
}
#menu-btn-extra{
    background-color:orangered;
    margin: 30px 30px 30px 30px; 
}
.menu-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.match-menu{
    margin-left: 24px;
    margin-bottom: 20px;

}
.match{
    display: grid;
    border:  1px  solid black;
    border-radius: 10px;
    width: 312px;
    height: 362px;

}
.match p{
    font-size: 18px;
    margin-left: 20px;
}
.transfer-btn{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 192px;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 17px;
    width: 100px;
    height: 32px;
    border-radius: 5px;
  }
  .transfer-btn a{
    text-decoration: none;
    color: black;
  }
  .match-menu-icon{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    
  }
  .match-menu-icon img{
    position: relative;
    width: 20px;
    top: 5px;
    
  }
  .match-menu-icon-span{
    margin-right: 20px;
  }

  /*end menu*/

  /*footer start*/
  footer{
    width: 1600px;
    height: 444px;
    background-color: #161616;

  }
 .footer-heading{
    text-align: center;
    padding-top: 130px;
    color: white;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    
 }
hr{
    width: 1320px;
}
.footer-links{
    text-align: center;
    margin-bottom: 130px;
    margin-left: 351px;
    margin-right: 351px;
    display: flex;
    justify-content: space-around;

    
}
.footer-links a{
    text-decoration: none;
    color: white;

}

/*------
for 2nd page
*/

.upcoming-menu{
   
        margin-left: 20px;
        margin-bottom: 24px;
        border:  1px  solid black;
        border-radius: 10px;
        width: 312px;
        height: 242px;
    
    
}
.matches{
    display: flex;
}
.flag,span{
    margin-top: 53px;
    margin-left: 27px;
    
   
}
.upcoming-info{
    text-align: center;
}
 /*end  of 2nd page*/

 